<div class="container">
    <mat-card>
      <h2>Disasters</h2>
      <form [formGroup]="submitForm" autocomplete="on" class="form" (ngSubmit)="onSave()">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Citizen Id</mat-label>
          <input matInput formControlName="citizen_id" type="number" name="zan-id">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Causes</mat-label>
          <input matInput formControlName="cause" type="text" placeholder="inter couses" >
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Effect</mat-label>
            <input matInput formControlName="effect" type="text"placeholder="inter effect" >
          </mat-form-field>
        
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button color="warn" type="button" routerLink="/desastershome">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>


