<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="admin-dashboard">Home</a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Letters</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a mat-list-item routerLink="">Letter 1</a>
          <a mat-list-item routerLink="">Letter 1</a>
          <a mat-list-item routerLink="">Letter 1</a>
        </mat-list>
      </mat-expansion-panel>
      <a mat-list-item href="homeAddressee">Addressee</a>
      <a mat-list-item routerLink="birthhome">Birth Registration</a>
      <a mat-list-item href="homedeath">Deaths</a>
      <a mat-list-item href="desastershome">Desasters</a>
      <a mat-list-item href="LetterTemplate">Letter Template</a>
      <a mat-list-item href="generateLetter">Generate Letter</a>
      <a mat-list-item href="homeLand">Land record</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>my-project</span>
    </mat-toolbar>
    <!-- Add Content Here -->
     <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
