<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <img src="assets/image/logo.jfif" class="card-img-top" alt="Header Image" style="width: 30%; height: auto; max-height: 100px; margin-left:160px;">
        <div class="card-body">
          <h2 class="card-title text-center">Register</h2>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
            </div>
            <div class="form-group">
              <label for="first_name">First Name:</label>
              <input type="text" class="form-control" id="first_name" [(ngModel)]="user.first_name" name="first_name" required>
            </div>
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input type="text" class="form-control" id="last_name" [(ngModel)]="user.last_name" name="last_name" required>
            </div>
            <div class="form-group">
              <label for="status">Status:</label>
              <input type="text" class="form-control" id="status" [(ngModel)]="user.status" name="status" required>
            </div>
            <div class="form-group">
              <!-- <label for="role">Role:</label> -->
              <!-- <select class="form-control" id="role" [(ngModel)]="user.role" name="role" required>
                <option value="admin">Admin</option>
                <option value="sheha">Sheha</option>
                <option value="citizen">Citizen</option>
              </select> -->
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </form>
          <div class="text-center mt-3">
            <!-- <a routerLink="/login">Already have an account? Login here</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
