<div class="container">
    <mat-card>
      <h2>Add Addressee</h2>
      <form class="form">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" name="zan-id">
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <mat-label for="date-of-birth">Date</mat-label>
          <input matInput type="date" name="date-of-birth">
        </mat-form-field>
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button color="warn" type="button" routerLink="/homedeath">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>


